<div class="container">
    <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="cat-items">
                    <h5 class="card-title">{{cat.name}}</h5>
                    <div class="cat-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/jDDLA9NtOH0?si={{cat.video}}"
                            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                            encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                    <p>{{cat.description}}</p>
                </div>
            </div>
    </div>
</div>