<div style="width: 100%; position: relative; bottom: 0; top: 200px">
    <footer>
        <nav class="bg-violet-700 flex p-3 text-white">
            <div class="mr-3">
                <button class="px-3 py-2 bg-violet-800">new</button>
            </div>
            <div class="mr-3">
                <button class="px-3 py-2 bg-violet-800">reply</button>
            </div>
            <div class="mr-3 flex-1">
                <button class="px-3 py-2 bg-violet-800">forward</button>
            </div>
            <div class="ml-auto mr-3 ">
                <button class="bg-red-500 text-white px-3 py-2">Trash</button>
            </div>
        </nav>
    </footer>
</div>