<div class="">
    <header>
        <nav class="bg-violet-700 flex p-3 text-white flex justify-between">
            <ul class="inline-flex gap-4">
                <li><a href="#"><span>Cat</span></a></li>
                <li><a href="#"><span>Dogs</span></a></li>
                <li><a href="#"><span>Bird</span></a></li>
                <li><a href="#"><span>Racoon</span></a></li>
            </ul>
            <div class="">
                <span>Menu</span>
            </div>
        </nav>
    </header>
</div>
